{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.uptrends.com/v4"
        }
    ],
    "x-generator": "NSwag v11.17.0.0 (NJsonSchema v9.10.42.0 (Newtonsoft.Json v11.0.0.0))",
    "info": {
        "title": "Uptrends API v4",
        "description": "This document describes Uptrends API version 4. This Swagger environment also lets you execute API methods directly.\n\nPlease note that this is not a sandbox environment: these API methods operate directly on your actual Uptrends account.\n\nFor more information, please visit https://www.uptrends.com/api.",
        "version": "1.0.0"
    },
    "paths": {
        "/Checkpoint": {
            "get": {
                "tags": [
                    "Checkpoint"
                ],
                "summary": "Returns all the checkpoints. ",
                "operationId": "Checkpoint_GetAllCheckpoints",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "List of checkpoints",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/Checkpoint/{checkpointId}": {
            "get": {
                "tags": [
                    "Checkpoint"
                ],
                "summary": "Returns the specified checkpoint. ",
                "operationId": "Checkpoint_GetCheckpoint",
                "parameters": [
                    {
                        "name": "checkpointId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/Checkpoint/Server/{serverId}": {
            "get": {
                "tags": [
                    "Checkpoint"
                ],
                "summary": "Returns the specified checkpoint server.",
                "operationId": "CheckpointServer_GetServer",
                "parameters": [
                    {
                        "name": "serverId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/Checkpoint/Server/Ipv4": {
            "get": {
                "tags": [
                    "Checkpoint"
                ],
                "summary": "Anonymous call, returns all the IPv4 addresses of all the checkpoint servers. ",
                "operationId": "CheckpointServer_GetAllServerIpv4s",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Checkpoint/Server/Ipv6": {
            "get": {
                "tags": [
                    "Checkpoint"
                ],
                "summary": "Anonymous call, returns all the IPv6 addresses of all the checkpoint servers. ",
                "operationId": "CheckpointServer_GetAllServerIpv6s",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/MonitorGroup": {
            "get": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Gets all monitor groups",
                "operationId": "MonitorGroup_GetAllMonitorGroups",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "MonitorGroupGuid",
                                            "IsAll"
                                        ],
                                        "properties": {
                                            "MonitorGroupGuid": {
                                                "type": "string",
                                                "format": "guid"
                                            },
                                            "Description": {
                                                "type": "string"
                                            },
                                            "IsAll": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "MonitorGroupGuid",
                                            "IsAll"
                                        ],
                                        "properties": {
                                            "MonitorGroupGuid": {
                                                "type": "string",
                                                "format": "guid"
                                            },
                                            "Description": {
                                                "type": "string"
                                            },
                                            "IsAll": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Creates a new monitor group",
                "operationId": "MonitorGroup_CreateMonitorGroup",
                "responses": {
                    "201": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGroupGuid",
                                        "IsAll"
                                    ],
                                    "properties": {
                                        "MonitorGroupGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "IsAll": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGroupGuid",
                                        "IsAll"
                                    ],
                                    "properties": {
                                        "MonitorGroupGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "IsAll": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "MonitorGroupGuid",
                                    "IsAll"
                                ],
                                "properties": {
                                    "MonitorGroupGuid": {
                                        "type": "string",
                                        "format": "guid"
                                    },
                                    "Description": {
                                        "type": "string"
                                    },
                                    "IsAll": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "MonitorGroupGuid",
                                    "IsAll"
                                ],
                                "properties": {
                                    "MonitorGroupGuid": {
                                        "type": "string",
                                        "format": "guid"
                                    },
                                    "Description": {
                                        "type": "string"
                                    },
                                    "IsAll": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "description": "The MonitorGroup object to be created",
                    "required": true
                }
            }
        },
        "/MonitorGroup/{monitorGroupGuid}": {
            "get": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Gets the details of a monitor group",
                "operationId": "MonitorGroup_GetMonitorGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to be retrieved",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGroupGuid",
                                        "IsAll"
                                    ],
                                    "properties": {
                                        "MonitorGroupGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "IsAll": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGroupGuid",
                                        "IsAll"
                                    ],
                                    "properties": {
                                        "MonitorGroupGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "IsAll": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Updates the monitor group with the Guid specified",
                "operationId": "MonitorGroup_UpdateMonitorGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to be updated",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Request completed successfully."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.\nor\nThe All Monitors group cannot be changed or deleted.\nor\nThe All Monitors group already exists.",
                        "x-expectedSchemas": [
                            {
                                "description": "The request failed.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            {
                                "description": "The All Monitors group cannot be changed or deleted.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            {
                                "description": "The All Monitors group already exists.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        ],
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "MonitorGroupGuid",
                                    "IsAll"
                                ],
                                "properties": {
                                    "MonitorGroupGuid": {
                                        "type": "string",
                                        "format": "guid"
                                    },
                                    "Description": {
                                        "type": "string"
                                    },
                                    "IsAll": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "MonitorGroupGuid",
                                    "IsAll"
                                ],
                                "properties": {
                                    "MonitorGroupGuid": {
                                        "type": "string",
                                        "format": "guid"
                                    },
                                    "Description": {
                                        "type": "string"
                                    },
                                    "IsAll": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "description": "The monitor group to be updated",
                    "required": true
                }
            },
            "delete": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Deletes the specified monitor group",
                "operationId": "MonitorGroup_DeleteMonitorGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to be deleted",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Request completed successfully."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.\nor\nDeleting the AllMonitors group is not allowed.",
                        "x-expectedSchemas": [
                            {
                                "description": "The request failed.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            {
                                "description": "Deleting the AllMonitors group is not allowed.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        ],
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/Members": {
            "get": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Gets a list of all members of a monitor group",
                "operationId": "MonitorGroup_GetMonitorGroupMembers",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to retrieve the members for",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGuid"
                                    ],
                                    "properties": {
                                        "MonitorGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "MonitorGuid"
                                    ],
                                    "properties": {
                                        "MonitorGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/AddMaintenancePeriodToAllMembers": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Adds the provided maintenance period to all monitors in the group specified ",
                "operationId": "MonitorGroup_AddMaintenancePeriodToAllMembers",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The maintenance period has been added to all monitors in the group."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "Id",
                                    "ScheduleMode",
                                    "MaintenanceType"
                                ],
                                "properties": {
                                    "Id": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "ScheduleMode": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "OneTime",
                                            "Daily",
                                            "Weekly",
                                            "Monthly"
                                        ],
                                        "enum": [
                                            "OneTime",
                                            "Daily",
                                            "Weekly",
                                            "Monthly"
                                        ]
                                    },
                                    "StartDateTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "EndDateTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "WeekDay": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "Sunday",
                                            "Monday",
                                            "Tuesday",
                                            "Wednesday",
                                            "Thursday",
                                            "Friday",
                                            "Saturday"
                                        ],
                                        "enum": [
                                            "Sunday",
                                            "Monday",
                                            "Tuesday",
                                            "Wednesday",
                                            "Thursday",
                                            "Friday",
                                            "Saturday"
                                        ]
                                    },
                                    "MonthDay": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "StartTime": {
                                        "type": "string"
                                    },
                                    "EndTime": {
                                        "type": "string"
                                    },
                                    "MaintenanceType": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "DisableMonitoring",
                                            "DisableNotifications"
                                        ],
                                        "enum": [
                                            "DisableMonitoring",
                                            "DisableNotifications"
                                        ]
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "Id",
                                    "ScheduleMode",
                                    "MaintenanceType"
                                ],
                                "properties": {
                                    "Id": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "ScheduleMode": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "OneTime",
                                            "Daily",
                                            "Weekly",
                                            "Monthly"
                                        ],
                                        "enum": [
                                            "OneTime",
                                            "Daily",
                                            "Weekly",
                                            "Monthly"
                                        ]
                                    },
                                    "StartDateTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "EndDateTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "WeekDay": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "Sunday",
                                            "Monday",
                                            "Tuesday",
                                            "Wednesday",
                                            "Thursday",
                                            "Friday",
                                            "Saturday"
                                        ],
                                        "enum": [
                                            "Sunday",
                                            "Monday",
                                            "Tuesday",
                                            "Wednesday",
                                            "Thursday",
                                            "Friday",
                                            "Saturday"
                                        ]
                                    },
                                    "MonthDay": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "StartTime": {
                                        "type": "string"
                                    },
                                    "EndTime": {
                                        "type": "string"
                                    },
                                    "MaintenanceType": {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                            "DisableMonitoring",
                                            "DisableNotifications"
                                        ],
                                        "enum": [
                                            "DisableMonitoring",
                                            "DisableNotifications"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/Members/{monitorGuid}": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Adds the specified monitor to the monitor group ",
                "operationId": "MonitorGroup_AddMonitorToMonitorGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to add the monitor to",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    },
                    {
                        "name": "monitorGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor Guid",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The monitor has been added to the group successfully."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Removes the specified monitor from the monitor group",
                "operationId": "MonitorGroup_RemoveMonitorFromMonitorGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The Guid of the monitor group to remove the monitor from",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    },
                    {
                        "name": "monitorGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor Guid to be removed",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Request completed successfully."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.\nor\nA monitor cannot be removed from the All Monitors group.",
                        "x-expectedSchemas": [
                            {
                                "description": "The request failed.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            {
                                "description": "A monitor cannot be removed from the All Monitors group.",
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        ],
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/StopAllMonitors": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Stops all monitors that are a member of the monitor group specified by the monitor group GUID",
                "operationId": "MonitorGroup_StopAllMonitorsInGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor group GUID",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "All monitors in the group have been stopped."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/StartAllMonitors": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Starts all monitors that are a member of the monitor group specified by the monitor group GUID",
                "operationId": "MonitorGroup_StartAllMonitorsInGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor group GUID",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "All monitors in the group have been started."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/StopAllMonitorAlerts": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Stops alerting for all monitors that are a member of the monitor group specified by the monitor group GUID",
                "operationId": "MonitorGroup_StopAllMonitorAlertsInGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor group GUID",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Alerting for all monitors in the group has been stopped."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/MonitorGroup/{monitorGroupGuid}/StartAllMonitorAlerts": {
            "post": {
                "tags": [
                    "MonitorGroup"
                ],
                "summary": "Starts alerting for all monitors that are a member of the monitor group specified by the monitor group GUID",
                "operationId": "MonitorGroup_StartAllMonitorAlertsInGroup",
                "parameters": [
                    {
                        "name": "monitorGroupGuid",
                        "in": "path",
                        "required": true,
                        "description": "The monitor group GUID",
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Alerting for all monitors in the group has been started."
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "x-nullable": true,
                        "description": "The requested monitor group was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            }
        },
        "/Operator": {
            "get": {
                "tags": [
                    "Operator"
                ],
                "summary": "Gets a list of all operators.",
                "operationId": "Operator_GetAllOperators",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "OperatorGuid",
                                            "IsAccountAdministrator",
                                            "IsOnDuty",
                                            "SmsProvider"
                                        ],
                                        "properties": {
                                            "OperatorGuid": {
                                                "type": "string",
                                                "format": "guid"
                                            },
                                            "Password": {
                                                "type": "string"
                                            },
                                            "FullName": {
                                                "type": "string"
                                            },
                                            "Email": {
                                                "type": "string"
                                            },
                                            "MobilePhone": {
                                                "type": "string"
                                            },
                                            "OutgoingPhoneNumberId": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "IsAccountAdministrator": {
                                                "type": "boolean"
                                            },
                                            "BackupEmail": {
                                                "type": "string"
                                            },
                                            "IsOnDuty": {
                                                "type": "boolean"
                                            },
                                            "CultureName": {
                                                "type": "string"
                                            },
                                            "TimeZoneId": {
                                                "type": "integer"
                                            },
                                            "SmsProvider": {
                                                "type": "string",
                                                "description": "",
                                                "x-enumNames": [
                                                    "UseAccountSetting",
                                                    "SmsProviderEurope",
                                                    "SmsProviderInternational",
                                                    "SmsProviderEurope2",
                                                    "SmsProviderUSA"
                                                ],
                                                "enum": [
                                                    "UseAccountSetting",
                                                    "SmsProviderEurope",
                                                    "SmsProviderInternational",
                                                    "SmsProviderEurope2",
                                                    "SmsProviderUSA"
                                                ]
                                            },
                                            "UseNumericSender": {
                                                "type": "boolean"
                                            },
                                            "AllowNativeLogin": {
                                                "type": "boolean"
                                            },
                                            "AllowSingleSignon": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "OperatorGuid",
                                            "IsAccountAdministrator",
                                            "IsOnDuty",
                                            "SmsProvider"
                                        ],
                                        "properties": {
                                            "OperatorGuid": {
                                                "type": "string",
                                                "format": "guid"
                                            },
                                            "Password": {
                                                "type": "string"
                                            },
                                            "FullName": {
                                                "type": "string"
                                            },
                                            "Email": {
                                                "type": "string"
                                            },
                                            "MobilePhone": {
                                                "type": "string"
                                            },
                                            "OutgoingPhoneNumberId": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "IsAccountAdministrator": {
                                                "type": "boolean"
                                            },
                                            "BackupEmail": {
                                                "type": "string"
                                            },
                                            "IsOnDuty": {
                                                "type": "boolean"
                                            },
                                            "CultureName": {
                                                "type": "string"
                                            },
                                            "TimeZoneId": {
                                                "type": "integer"
                                            },
                                            "SmsProvider": {
                                                "type": "string",
                                                "description": "",
                                                "x-enumNames": [
                                                    "UseAccountSetting",
                                                    "SmsProviderEurope",
                                                    "SmsProviderInternational",
                                                    "SmsProviderEurope2",
                                                    "SmsProviderUSA"
                                                ],
                                                "enum": [
                                                    "UseAccountSetting",
                                                    "SmsProviderEurope",
                                                    "SmsProviderInternational",
                                                    "SmsProviderEurope2",
                                                    "SmsProviderUSA"
                                                ]
                                            },
                                            "UseNumericSender": {
                                                "type": "boolean"
                                            },
                                            "AllowNativeLogin": {
                                                "type": "boolean"
                                            },
                                            "AllowSingleSignon": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "The request failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicauth": [
                            ""
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Operator"
                ],
                "summary": "Creates a new operator.",
                "operationId": "Operator_CreateOperator",
                "responses": {
                    "201": {
                        "x-nullable": true,
                        "description": "Request completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                        "OperatorGuid",
                                        "IsAccountAdministrator",
                                        "IsOnDuty",
                                        "SmsProvider"
                                    ],
                                    "properties": {
                                        "OperatorGuid": {
                                            "type": "string",
                                            "format": "guid"
                                        },
                                        "Password": {
                                            "type": "string"
                                        },
                                        "FullName": {
                                            "type": "string"
                                        },
                                        "Email": {
                                            "type": "string"
                                        },
                                        "MobilePhone": {
                                            "type": "string"
                                        },
                                        "OutgoingPhoneNumberId": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "IsAccountAdministrator": {
                                            "type": "boolean"
                                        },
                                        "BackupEmail": {
                                            "type": "string"
                                        },
                                        "IsOnDuty": {
                                            "type": "boolean"
                                        },
                                        "CultureName": {
                                            "type": "string"
                                        },
                                        "TimeZoneId": {
                                            "type": "integer"
                                        },
                                        "SmsProvider": {
                                            "type": "string",
                                            "description": "",
                                            "x-enumNames": [
[...]
